<template name="view2">
		
  	<h2>Horaris</h2>
  	<input class="btn btn-success" type="button" value="Pagina principal"/>

  	<body bgcolor="#CC9966" text="#000000">
	
	<table width="600" border="0" cellspacing="5" cellpadding="5" align="center">
		<td colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp;Els horaris de
			la botiga dels retocs son els següents:
	    </td>
	</table>

	<table width="600" border="0" cellspacing="5" cellpadding="5" align="center">
		<td colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp;De dilluns a divendres <b>de 9:00 a 13:00</b> i
			de <b>15:30 a 19:00 </b> 
	    </td>
		<td colspan="2"> &nbsp;&nbsp;&nbsp;&nbsp;Els disabtes <b>de 9:00 a 14:30</b>
	    </td>
	</table>
	
	</body>

</template>